<div class="projects">
    <section class="cases-img">
    <div class="row">
        <figure><img class="case" [class.in]="state" src="../../../assets/images/bn.png" alt=""></figure>
        <br><br><br>
        <figure><img class="case" [class.in]="state" src="../../../assets/images/awards.png" alt=""></figure>
    </div>
    </section>
    <section class="skills-content light">
    <div class="content">
        <div class="row">
            <div class="left">
                <h3 class="subtitle animate">
                    <span class="text-wrapper">
                        <span class="letters">projects</span>
                    </span>
                </h3>
            </div>
            <div class="right">
                <p class="animate">Throughout 11 years of development I participated in amazing projects, had started with my own company and worked in 03 different teams in companies like Ebow Digital Agency, Perverte, Ideia Agencia Digital and Segundo Andar.</p>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <h3 class="subtitle animate">
                    <span class="text-wrapper">
                        <span class="letters">recognition</span>
                    </span>
                </h3>
            </div>
            <div class="right">
                <hr class="animate">
                <ul class="animate">
                    <li>Awwwards: <strong>Honorable Mention</strong></li>
                    <li>Communication Arts: <strong>Webpick of the Day</strong></li>
                    <li>CSS Design Awards: <strong>Best UI Design</strong></li>
                    <li>CSS Design Awards: <strong>Best UX Design</strong></li>
                    <li>CSS Design Awards: <strong>Best Innovation</strong></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <h3 class="subtitle animate">
                    <span class="text-wrapper">
                        <span class="letters">project</span>
                    </span>
                </h3>
                <h3 class="subtitle animate">
                    <span class="text-wrapper">
                        <span class="letters">participations</span>
                    </span>
                </h3>
            </div>
            <div class="right">
                <hr class="animate">
                <ul class="animate">
                    <li>Benoit Ninhant: <a href="https://www.benoitnihant.be/" target="_blank" title="">benoitnihant.be</a></li>
                    <li>Omelette Eventos: <a href="https://www.omeletteeventos.com.br/" target="_blank" title="">omeletteeventos.com.br</a></li>
                    <li>Fibrafort: <a href="http://www.fibrafort.com.br/" target="_blank" title="">fibrafort.com.br</a></li>
                    <li>Kerrygold: <a href="https://kerrygold.com" target="_blank" title="">kerrygold.com</a></li>
                    <li>My Waste: <a href="https://www.mywaste.ie/" target="_blank" title="">mywaste.ie</a></li>
                    <li>Ativa Medicina: <a href="http://ativamedicina.com.br/" target="_blank" title="">ativamedicina.com.br</a></li>
                    <li>Focco Digital: <a href="https://www.foccodigital.com.br/" target="_blank" title="">foccodigital.com.br</a></li>
                </ul>
            </div>
        </div>
    </div>
    </section>    
    <section class="images-grid">
    <div class="vertical-line"></div>
    <div class="vertical-line second"></div>
    <div class="vertical-line third"></div>
    <div class="horizontal-line"></div>

    <div class="row">
        <figure class="animate"><img src="../../assets/images/bnb.png" alt=""></figure>
        <figure class="animate"><img src="../../assets/images/ff.png" alt=""></figure>
        <figure class="animate"><img src="../../assets/images/mw.png" alt=""></figure>
        <figure class="animate"><img src="../../assets/images/ativa.png" alt=""></figure>
        <figure class="animate"><img src="../../assets/images/kg.png" alt=""></figure>
        <figure class="animate"><img src="../../assets/images/sr.png" alt=""></figure>
        <figure class="animate"><img src="../../assets/images/om.png" alt=""></figure>
        <figure class="animate"><img src="../../assets/images/ap.png" alt=""></figure>
    </div>
    </section>
</div>