<div id="particles-js"></div>
<div class="background-wrapper">
    <section class="background-content light">
        <div class="content">
            <div class="row">
                <div class="left">
                    <h3 class="main-title subtitle animate first" [class.in]="state">
                        <span class="text-wrapper">
                            <span class="letters">intro</span>
                        </span>
                    </h3>
                </div>
                <div class="right">
                    <p class="animate" [class.in]="state">I am a HTML5, CSS3 and JavaScript Developer with experience in TypeScript, Angular 2+, Angular CLI, node, npm, jQuery, Bootstrap, Sass / Scss, Pug, Photoshop</p>
                </div>
            </div>
            <div class="row">
                <div class="left">
                    <h3 class="subtitle animate" [class.fadeIn]="state">
                        <span class="text-wrapper">
                            <span class="letters">skills</span>
                        </span>
                    </h3>
                </div>
                <div class="right">
                    <hr class="animate" [class.in]="state">
                    <div class="images-grid">
                        <div class="vertical-line"></div>
                        <div class="vertical-line second"></div>
                        <div class="vertical-line third"></div>
                        <div class="horizontal-line"></div>
                        <div class="horizontal-line second"></div>
                        <div class="horizontal-line third"></div>
                        <div class="row skills">
                            <figure class="animate" [class.fadeIn]="state"><img src="../../assets/images/html5.png" alt="html5">
                                <figcaption>HTML5</figcaption>
                            </figure>
                            <figure class="animate" [class.fadeIn]="state"><img src="../../assets/images/css3.png" alt="html5">
                                <figcaption>CSS3</figcaption>
                            </figure>
                            <figure class="animate" [class.fadeIn]="state"><img src="../../assets/images/javascript.png" alt="html5">
                                <figcaption>Javascript ES6</figcaption>
                            </figure>
                            <figure class="animate" [class.fadeIn]="state"><img src="../../assets/images/angular.png" alt="html5">
                                <figcaption>Angular</figcaption>
                            </figure>
                            <figure class="animate" [class.fadeIn]="state"><img src="../../assets/images/ts.png" alt="html5">
                                <figcaption>Typescript</figcaption>
                            </figure>
                            <figure class="animate" [class.fadeIn]="state"><img src="../../assets/images/rxjs.png" alt="html5">
                                <figcaption>RXJS</figcaption>
                            </figure>
                            <figure class="animate" [class.fadeIn]="state"><img src="../../assets/images/jquery.png" alt="html5">
                                <figcaption>jQuery</figcaption>
                            </figure>
                            <figure class="animate" [class.fadeIn]="state"><img src="../../assets/images/npm.png" alt="html5">
                                <figcaption>NPM</figcaption>
                            </figure>
                            <figure class="animate" [class.fadeIn]="state"><img src="../../assets/images/webpack.png" alt="html5">
                                <figcaption>Webpack</figcaption>
                            </figure>
                            <figure class="animate" [class.fadeIn]="state"><img src="../../assets/images/grunt.png" alt="html5">
                                <figcaption>Grunt</figcaption>
                            </figure>
                            <figure class="animate" [class.fadeIn]="state"><img src="../../assets/images/firebase.png" alt="html5">
                                <figcaption>Firebase</figcaption>
                            </figure>
                            <figure class="animate" [class.fadeIn]="state"><img src="../../assets/images/sass.png" alt="html5">
                                <figcaption>SASS</figcaption>
                            </figure>
                            <figure class="animate" [class.fadeIn]="state"><img src="../../assets/images/bootstrap.png" alt="">
                                <figcaption>Bootstrap</figcaption>
                            </figure>
                            <figure class="animate" [class.fadeIn]="state"><img src="../../assets/images/php.png" alt="">
                                <figcaption>PHP</figcaption>
                            </figure>
                            <figure class="animate" [class.fadeIn]="state"><img src="../../assets/images/wp.png" alt="">
                                <figcaption>Wordpress</figcaption>
                            </figure>
                            <figure class="animate" [class.fadeIn]="state"><img src="../../assets/images/woo.png" alt="">
                                <figcaption>Woocommerce</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="left">
                <h3 class="subtitle animate">
                    <span class="text-wrapper">
                        <span class="letters">work</span>
                    </span>
                </h3>
                <h3 class="subtitle animate">
                    <span class="text-wrapper">
                        <span class="letters">experience</span>
                    </span>
                </h3>
                </div>
                <div class="right">
                    <hr class="animate">
                    <ul class="animate">
                        <li>Ebow Digital Agency (Dublin/Ireland): <a target="_blank" href="http://ebow.ie" title="Ebow Digital Agency">ebow.ie</a></li>
                        <li>Perverte (Porto Alegre/Brazil): <a target="_blank" href="http://perverte.me" title="Perverte">perverte.me</a></li>
                        <li>Ideia Agencia Digital (Porto Alegre/Brazil): <a target="_blank" href="https://www.ideiaagenciadigital.com.br" title="Ideia Agencia Digital">ideiaagenciadigital.com.br</a></li>
                        <li>Segundo Andar (Porto Alegre/Brazil): <a target="_blank" href="https://agenciapublicidade.com.br" title="Segundo Andar">agenciapublicidade.com.br</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="left">
                    <h3 class="subtitle animate">
                        <span class="text-wrapper">
                            <span class="letters">recognition</span>
                        </span>
                    </h3>
                </div>
                <div class="right">
                    <hr class="animate">
                    <ul class="animate">
                        <li>Awwwards: <strong>Honorable Mention</strong></li>
                        <li>Communication Arts: <strong>Webpick of the Day</strong></li>
                        <li>CSS Design Awards: <strong>Best UI Design</strong></li>
                        <li>CSS Design Awards: <strong>Best UX Design</strong></li>
                        <li>CSS Design Awards: <strong>Best Innovation</strong></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="left">
                    <h3 class="subtitle animate">
                        <span class="text-wrapper">
                            <span class="letters">education</span>
                        </span>
                    </h3>
                </div>
                <div class="right">
                    <hr class="animate">
                    <ul class="animate">
                        <li>Angular 6 (formerly Angular 2) - The Complete Guide: <strong>Udemy - Online</strong></li>
                        <li>Building Web Applications with Angular (4, 5, and 6): <strong>Udemy - Online</strong></li>
                        <li>Web Development Course with ES6, TypeScript and Angular: <strong>Udemy - Online</strong></li>
                        <li>The Complete Javascript Course, TypeScript and Angular: <strong>Udemy - Online</strong></li>
                        <li>Http: <strong>Alura - Online</strong></li>
                        <li>JavaScript: <strong>Alura - Online</strong></li>
                        <li>Flexbox: <strong>Alura - Online</strong></li>
                        <li>jQuery: <strong>Alura - Online</strong></li>
                        <li>Web Designer: <strong>Senac</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</div>