<section class="top">
  <h1>{{post?.title.rendered}}</h1>
  <a href="">Visit website</a>
</section>
<section class="skills-content light">
    <div class="content">
        <div class="row">
            <div class="left">
                <h3 class="first">project</h3>
            </div>
            <div class="right">
                <p>we worked on 20+ projects together and won most the we worked on 20+ projects together and won most the. we worked on 20+ projects together and won most the we worked on 20+ projects together and won most the </p>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <h3>SKILLS</h3>
            </div>
            <div class="right">
                <hr>
                <div class="row">
                    <figure><img src="../../assets/images/angular.png" alt=""></figure>
                    <figure><img src="../../assets/images/angular.png" alt=""></figure>
                    <figure><img src="../../assets/images/angular.png" alt=""></figure>
                    <figure><img src="../../assets/images/angular.png" alt=""></figure>
                    <figure><img src="../../assets/images/angular.png" alt=""></figure>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <h3>RECOGNITION</h3>
            </div>
            <div class="right">
                <hr>
                <ul>
                    <li>FWA of the day: <strong>Benoit Nihant</strong></li>
                    <li>FWA of the day: <strong>Benoit Nihant</strong></li>
                    <li>FWA of the day: <strong>Benoit Nihant</strong></li>
                    <li>FWA of the day: <strong>Benoit Nihant</strong></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="cases-img">
  <div class="row">
    <figure><img class="case" src="../../../assets/images/awards.png" alt=""></figure>
    <figure><img class="case" src="../../../assets/images/bn_1.jpg" alt=""></figure>
    <figure><img class="case" src="../../../assets/images/bn2.jpg" alt=""></figure>
    <figure><img class="case" src="../../../assets/images/bn_3.jpg" alt=""></figure>
  </div>
</section>